<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="qc:admins" content="210003765762050006375">
    <title>严欢是猪官网</title>
    <meta name="keywords" content="严欢是猪"/>
    <meta name="renderer" content="webkit">
    <meta name="description" content="严欢是猪"/>
  </head>
  <body>
    <span style="color:red;font-size:80px;">严欢是猪</span>
    <script>alert("严欢是猪吗？")</script>
  </body>
</html>
